.parte01 {color: rgb(0, 68, 0); background-color: rgb(136, 253, 136);}
.parte03 {color: rgb(0, 68, 0); background-color: rgb(136, 253, 136);}
.parte02 {color: rgb(0, 68, 0); background-color: white;}
.parte04 {color: rgb(0, 68, 0); background-color: white;}
.parte05 {color: rgb(0, 68, 0); background-color: rgb(136, 253, 136);}
#wendel {margin-left: 40%;}